@import 'tailwindcss';
@import './theme.css';
@plugin '@igorkowalczyk/is-browser';

html {
  @apply font-body text-default-font bg-neutral-950;
}

h1 {
  @apply h1;
}

h2 {
  @apply h2;
}

h3 {
  @apply h3;
}

:root {
  --nav-offset: 0;
  --extend-footer: 0;
}

.text-link {
  @apply hover:text-brand-50 underline transition-colors;
}

.bg-stripes {
  background: linear-gradient(
    45deg,
    var(--color-neutral-700) 0.5px,
    transparent 0.5px,
    transparent calc(50% - 0.5px),
    var(--color-neutral-700) calc(50% - 0.5px),
    var(--color-neutral-700) calc(50% + 0.5px),
    transparent calc(50% + 0.5px),
    transparent calc(100% - 0.5px),
    var(--color-neutral-700) calc(100% - 0.5px)
  );
  background-size: 30px 30px;
}

.prose-content > *:first-child,
.prose-content p *:first-child,
.prose-content p > a > *:first-child {
  margin-top: 0 !important;
}
.prose-content > *:last-child,
.prose-content p > *:last-child,
.prose-content p > a > *:last-child {
  margin-bottom: 0 !important;
}
.prose-content > p + p,
.prose-content > * > p + p {
  margin-top: 12px;
}

.scrollbar-none {
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  @supports not selector(::-webkit-scrollbar) {
    scrollbar-width: 0px;
  }
}

.marquee {
  mask: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

.turnstile-wrapper div {
  display: flex !important;
}

:root {
  --vis-color0: var(--color-brand-50) !important;
  --vis-color1: var(--color-brand-300) !important;

  --vis-tooltip-title-color: var(--color-neutral-100) !important;
  --vis-tooltip-title-border-bottom: 1px solid var(--color-neutral-700) !important;
  --vis-tooltip-title-padding: 0.5rem 0.75rem !important;
  --vis-tooltip-label-color: var(--color-neutral-100) !important;
  --vic-tooltip-value-color: var(--color-neutral-100) !important;

  --vis-tooltip-padding: 0 0 0 0 !important;

  --vis-axis-grid-color: var(--color-neutral-800) !important;

  --vis-tooltip-background-color: var(--color-neutral-950) !important;
  --vis-tooltip-border-color: var(--color-neutral-700) !important;
  --vis-tooltip-border-radius: 14px !important;

  --tooltip-label-color: rgba(255, 255, 255, 0.5);
  --tooltip-value-color: rgba(255, 255, 255, 1);

  --vis-tooltip-text-color: rgba(255, 255, 255, 0.5) !important;
  --vis-axis-tick-label-color: rgba(255, 255, 255, 0.5) !important;
  --vis-legend-label-color: rgba(255, 255, 255, 0.75) !important;

  --vis-axis-label-color: rgba(255, 255, 255, 0.5) !important;
  --vis-legend-label-color: rgba(255, 255, 255, 0.5) !important;
}
