@import 'tailwindcss';
@import './theme.css';
@plugin '@igorkowalczyk/is-browser';

html {
  @apply font-body text-default-font bg-neutral-950;
}

h1 {
  @apply h1;
}

h2 {
  @apply h2;
}

h3 {
  @apply h3;
}

:root {
  --nav-offset: 0;
  --extend-footer: 0;
}

.text-link {
  @apply hover:text-brand-50 underline transition-colors;
}

.bg-stripes {
  background: linear-gradient(
    45deg,
    var(--color-neutral-700) 0.5px,
    transparent 0.5px,
    transparent calc(50% - 0.5px),
    var(--color-neutral-700) calc(50% - 0.5px),
    var(--color-neutral-700) calc(50% + 0.5px),
    transparent calc(50% + 0.5px),
    transparent calc(100% - 0.5px),
    var(--color-neutral-700) calc(100% - 0.5px)
  );
  background-size: 30px 30px;
}

.prose-content > *:first-child,
.prose-content p *:first-child,
.prose-content p > a > *:first-child {
  margin-top: 0 !important;
}
.prose-content > *:last-child,
.prose-content p > *:last-child,
.prose-content p > a > *:last-child {
  margin-bottom: 0 !important;
}
.prose-content > p + p,
.prose-content > * > p + p {
  margin-top: 12px;
}

.scrollbar-none {
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  @supports not selector(::-webkit-scrollbar) {
    scrollbar-width: 0px;
  }
}

.marquee {
  mask: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

.turnstile-wrapper div {
  display: flex !important;
}
