@import 'tailwindcss';
@import './theme.css';

html {
  @apply font-body text-default-font bg-neutral-950;
}

h1 {
  @apply h1;
}
h2 {
  @apply h2;
}
h3 {
  @apply h3;
}

.text-link {
  @apply hover:text-brand-50 underline transition-colors;
}
